main {
    padding: 0 !important;
}

article {
    margin-top: 0 !important;
}

article h2 {
    margin-top: 15px;
}

article>div:last-child img {
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}