h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
}

article {
    margin: 0 auto;
    max-width: 800px;
}

section {
    margin-bottom: 0;
}

footer {
    margin-top: 0;
}

footer button {
    margin-bottom: 0;
}